.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.exchange {
  background: url('/assets/exchange.svg');
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  border: none;

  &:hover {
    transform: rotate(-180deg);
    background-color: #0d6fcd;
    box-shadow: 0 0 2vh 2vh #0d6fcd;
  }

  &:active {
    box-shadow: 0 0 2vh 2vh #d9107d;
    transition: 0.2s ease-in-out;
    background-color: #d9107d;
  }
}
