@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';

.buttons {
  @include flexCenter;
  height: 20%;
}

.exchange {
  background: url('/assets/exchange.svg');
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
  border: none;

  &:hover {
    transform: rotate(-180deg);
    @include buttonHover($sapphirine);
  }

  &:active {
    @include buttonHover($pink);
    transition: 0.2s ease-in-out;
  }
}
