@import '../../styles/constants.scss';

.carusel {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circle {
  .items {
    width: 100%;
    height: 90%;
    position: relative;
    .item {
      padding: 8vh 0;
      font-size: 4vh;
      color: rgba(205, 205, 205, 0.5);
      white-space: nowrap;
      transition: color 0.5s, font-size 0.5s, bottom 0.5s, left 0.5s, right 0.5s, top 0.5s;
      position: absolute;
      text-align: center;
      left: 0;
      top: 0;
      .textWrapper {
        position: absolute;
        left: 0;
      }

      &.current {
        font-size: 8vh;
        color: $white;
        left: 50%;
        top: 70%;
        display: flex;
        justify-content: center;
        .textWrapper {
          left: auto;
        }
      }

      &.next {
        left: 100%;
        top: 0;
        .textWrapper {
          right: 0;
          left: auto;
        }
      }
    }
  }
  .slider {
    height: 10%;
  }
}

.flat {
  .items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 70%;
  }

  .item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    opacity: 0;
    padding: 8vh 0;
    transition: opacity 0.2s, left 0.2s, width 0.2s;
    overflow: hidden;
    position: absolute;
    width: 100%;
    left: -100%
  }

  .current {
    display: flex;
    align-items: flex-start;
    font-size: 8vh;
    color: $white;
    opacity: 1;
    left: 0
  }

  .next {
    left: 100%;
    width: 0;
  }
  .slider {
      height: 30%;
  }

  .textWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.point {
  width: 1vh;
  height: 1vh;
  border-radius: 50%;
  background: $white;
  opacity: 0.5;
  margin: 1vh;
  cursor: pointer;

  &.active {
    opacity: 1;
  }

  &:hover {
    transform: scale(2);
    transition: 0.2s ease-in-out;
  }
}
