@import '../../styles/constants.scss';

html {
  background: #212121;
  height: 100%;
  font-size: 3vh;
  color: $white;
  font-family: Arial;
}

body {
  margin: 0;
}

button {
  color: $white;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

input[type="text"] {
  background: transparent;
  border: transparent;
  outline: none;
  font-size: 6vh;
  text-align: right;
  color: $white;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(25deg, $blue 75%, $pink);
  height: 100vh;
  min-height: 500px;
  min-width: 400px;
}
