@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';

.currencies,
.exchanges {
  height: 50%;
  width: 100%;
  @include flexCenter;
  flex-direction: column;
  position: relative;
}

.exchanges {
  background: $sapphirine;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30%;
  width: 80%
}

.cancel,
.exchange {
  font-size: 0.8rem;
  cursor: pointer;
  border: none;
  transition: transform 0.2s ease-in-out;
  background: transparent;
  padding: 0;

  &:hover {
    @include buttonHover($sapphirine);
  }

  &:active {
    @include buttonHover($pink);
  }
}

.triangular {
  width: 1px;
  height: 1px;
  border: 1.5rem solid transparent;
  position: absolute;
  top: 0;
  left: calc(50% - 1.5rem);
  border-top-color: $blue;
}
