@import '../../styles/constants.scss';

.currencies,
.exchanges {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.exchanges {
  background: $sapphirine;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30%;
  width: 80%
}

.cancel,
.exchange {
  font-size: 2vh;
  cursor: pointer;
  border: none;
  transition: transform 0.2s ease-in-out;
  background: transparent;
  padding: 0;

  &:hover {
    background-color: $sapphirine;
    box-shadow: 0 0 2vh 2vh $sapphirine;
  }

  &:active {
    box-shadow: 0 0 2vh 2vh $pink;
    background-color: $pink;
  }
}

.triangular {
  width: 1px;
  height: 1px;
  border: 4vh solid transparent;
  position: absolute;
  top: 0;
  left: calc(50% - 4vh);
  border-top-color: $blue;
}
